<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="icon" href="{% static 'watergunwars/bluegun.ico' %}" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'watergunwars/bootstrap-3.3.6/docs/dist/css/bootstrap.min.css' %}" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="{% static 'watergunwars/bootstrap-3.3.6/docs/assets/css/ie10-viewport-bug-workaround.css' %}" />

    <title>New War</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Before Starting</h1>
      </div>

      <h4> Make sure all players have already signed up. New players may not join after the war has started.<h4>
      <h4> A full (non-trial) Twilio account is required to support text notifications for players. Enter your Twilio account info here:<h4>
      <br>

      <form action = "{% url 'new_war' %}" id="war_form" method="post">
          {% csrf_token %}
          {{ war_form.as_p }}
          <br/>
          <button type="submit" name = "submit" class="btn btn-default">Start War</button>
      </form>

      <br/>
      <br/>

      <div>
        <a class="btn btn-default" href="{% url 'index' %}" role="button">Back &raquo;</a>
      </div>

    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'watergunwars/bootstrap-3.3.6/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
